<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>照片墙案例上.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0C912CD1F53A748007DA5C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0C912E61F53A749007DA5C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0C912F11F53A749007DA5C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
